.text-pink {
	color: #fc5c82;
}
.bg-pink-disabled{
	background-color:#F2b7d6
}
.bg-pink{
	background-color: #fc5c82 ;
}
.mt5-ng{
	margin-top: -50px;
}
.mt1-ng{
	margin-top: -10px;
}
.border-2-white{
	border: 2px solid #FFFFFF;
}
